<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <th:block th:replace="fragment/config::configFragment"></th:block>

  <title>Create Member</title>
</head>

<style>
  .form-signin input[type="email"] {
    border-radius: 4px;
  }

  .form-signin input[type="password"] {
    border-radius: 4px;
  }
  input {
    height: 45px;
  }
</style>

<body style="background: #0a58ca;">
<div class="w-100 m-auto form-signin" style="max-width: 330px; padding: 15px">

  <h1 class="text-white h3 fw-normal mb-5 text-center">Create Member</h1>
  <form method="post" th:action th:object="${adminJoinForm}">
    <div class="mb-3">
      <label for="email" class="form-label text-white">Email address</label>
      <input type="email" class="form-control" th:field="*{email}" id="email" placeholder="Email"
             th:errorclass="error-field">
      <p th:errors="*{email}" th:errorclass="error-field"></p>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label text-white">Password</label>
      <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Password"
             th:errorclass="error-field">
      <p th:errors="*{password}" th:errorclass="error-field"></p>
    </div>

    <div class="mb-3">
      <label for="username" class="form-label text-white">username</label>
      <div style="display: flex; flex-direction: row">
        <input type="text" th:field="*{username}" class="form-control" id="username" placeholder="Username"
               th:errorclass="error-field" style="margin-right: 10px">
        <button type="button" class="btn btn-info">✓</button>
      </div>
      <p th:errors="*{username}" th:errorclass="error-field"></p>
    </div>

    <div class="mb-5">
      <label for="accumTime" class="form-label text-white">accumTime</label>
      <input type="text" th:field="*{accumTime}" class="form-control" id="accumTime" placeholder="AccumTime"
             th:errorclass="error-field">
      <p th:errors="*{accumTime}" th:errorclass="error-field"></p>
    </div>

    <button type="submit" class="btn btn-primary w-100 btn-lg">Submit</button>
  </form>
</div>

</body>
</html>