<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--contents-->
<div th:fragment="body" style="margin: auto" class="container-fluid">

<!--  <div style="margin-bottom: 150px; margin-top: 100px">-->
<!--    <h1 class="text-center" style="color: white; letter-spacing: 14px; font-size: 50px; font-weight: bolder">-->
<!--      Pomoll D'or</h1>-->
<!--  </div>-->

  <!--타이머-->
  <div class="text-center">
    <div class="container-fluid">
      <div class="circle" style="" id="circle">
        <div>
          <p style="margin-bottom: 50px; font-weight: bold; font-size: 60px; color: white; line-height: 480px"
             id="remainTime">00 : 30 : 00</p>
        </div>
      </div>

      <div id="settingBtn" style="margin-top: 50px">
        <button type="button" class="btn btn-primary btn-select" data-bs-toggle="modal" data-bs-target="#modal">
          SETTING
        </button>
      </div>

      <div id="endBtn" style="margin-top: 50px; display: none" class="">
        <button type="button" class="btn btn-default btn-select" onclick="stopTimer()">
          END
        </button>
      </div>

      <div style="margin-top: 20px; display:none;">
        <label class="label label-info" style="font-size: 22px">REST TIME</label>
        <p id="restTimeLabel" style="margin-top: 20px; color: white; font-size: 22px">0</p>

      </div>
    </div>
  </div>

  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="selectTimeModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 400px" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Setting</h5>
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
          <!--<span aria-hidden="true">&times;</span>-->
          <!--</button>-->
        </div>

        <!--시간 선택 버튼들-->
        <div class="modal-body text-center" style="padding: 44px">
          <label style="margin-bottom: 15px">Set POMO Time</label>
          <div class="row btn-group btn-group-toggle buttons" data-toggle="buttons"
               style="align-content: center; width: 100%; text-align: center">
            <label class="col-md-6 btn btn-warning">
              <input name="setPomoTime" value="5" type="radio">5</label>
            <label class="col-md-6 btn btn-warning">
              <input name="setPomoTime" value="15" type="radio">15</label>
            <label class="col-md-6 btn btn-warning">
              <input name="setPomoTime" value="30" type="radio">30</label>
            <label class="col-md-6 btn btn-warning">
              <input name="setPomoTime" value="60" type="radio">60</label>
            <label class="col-md-6 btn btn-warning">
              <input name="setPomoTime" value="90" type="radio">90</label>
            <label class="col-md-6 btn btn-warning">
              <input name="setPomoTime" value="120" type="radio">120</label>
          </div>

          <label style="margin-bottom: 15px; margin-top: 20px">Set REST Time</label>
          <div class="row btn-group btn-group-toggle buttons restButtons" data-toggle="buttons"
               style="align-content: center; width: 100%; text-align: center">
            <label class="col-md-6 btn btn-success"><input name="setRestTime" value="3"
                                                           type="radio">3</label>
            <label class="col-md-6 btn btn-success"><input name="setRestTime" value="5"
                                                           type="radio">5</label>
            <label class="col-md-6 btn btn-success"><input name="setRestTime" value="10"
                                                           type="radio">10</label>
            <label class="col-md-6 btn btn-success"><input name="setRestTime" value="15"
                                                           type="radio">15</label>
            <label class="col-md-6 btn btn-success"><input name="setRestTime" value="20"
                                                           type="radio">20</label>
            <label class="col-md-6 btn btn-success"><input name="setRestTime" value="30"
                                                           type="radio">30</label>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="setTimeBtn" onclick="getSelectedTime();" data-bs-dismiss="modal" type="button"
                  class="btn btn-primary">Save changes
          </button>

        </div>
      </div>
    </div>
  </div>
</div>

</html>