<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--not login menubar-->
<div th:fragment="not-login-menubar" class="container" style="margin: auto">
    <div class="text-right" style="margin-top: 20px">
        <!--        <label id="joinBtn" class="btn btn-menu" data-toggle="modal" data-target="#join">Join</label>-->
        <label class="btn btn-menu"
               th:onclick="|location.href='@{/members/join}'|">Join</label>

        <!--        <label id="loginBtn" class="btn btn-menu" data-toggle="modal" data-target="#login">Login</label>-->
        <label class="btn btn-menu"
               th:onclick="|location.href='@{/members/login}'|">Login</label>
    </div>
</div>

<!--login menubar-->
<div th:fragment="login-menubar" class="container" style="margin: auto">
    <div class="text-right" style="margin-top: 20px">
        <label style="color: white; margin-right: 20px" th:text="${member.getEmail}"></label>

        <label class="btn btn-menu"
               th:onclick="'#'">MyGroup</label>

        <label class="btn btn-menu"
               th:onclick="|location.href='@{/statistics/info}'|"
               data-toggle="modal" data-target="#login">MyPage</label>

        <form style="display: inline"
              method="post"
              th:action="@{/members/logout}">
            <button type="submit" class="btn btn-default">Logout</button>
        </form>
    </div>
</div>

<!--admin login menubar-->
<div th:fragment="admin-menubar" class="container" style="margin: auto">
    <div class="text-right" style="margin-top: 20px">
        <label style="color: white; margin-right: 20px" th:text="Admin"></label>

        <label class="btn btn-menu"
               th:onclick="'#'">MyGroup</label>

        <label class="btn btn-menu"
               th:onclick="|location.href='@{/statistics/info}'|"
               data-toggle="modal" data-target="#login">MyPage</label>

        <form style="display: inline"
              method="post"
              th:action="@{/members/logout}">
            <button type="submit" class="btn btn-default">Logout</button>
        </form>

        <label class="btn btn-menu"
               th:onclick="|location.href='@{/admin/index}'|">AdminPage</label>
    </div>
</div>

</body>

<!--타임리프-->
<script src="../static/js/jquery-3.6.3.min.js"
        th:src="@{/js/jquery-3.6.3.min.js}" type="text/javascript"></script>
<script src="../static/js/bootstrap.min.js"
        th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script src="../static/js/timer.js"
        th:src="@{/js/timer.js}" type="text/javascript"></script>
</html>