<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <link th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css" rel="stylesheet">-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Main</title>
</head>
<body>
<!--not login menubar-->
<div th:fragment="not-login-menubar" style="width: 100%">
<!--    <div>-->
<!--        &lt;!&ndash;        <label id="joinBtn" class="btn btn-menu" data-toggle="modal" data-target="#join">Join</label>&ndash;&gt;-->
<!--        <label class="btn btn-menu"-->
<!--               th:onclick="|location.href='@{/member/join}'|">Join</label>-->

<!--        &lt;!&ndash;        <label id="loginBtn" class="btn btn-menu" data-toggle="modal" data-target="#login">Login</label>&ndash;&gt;-->
<!--        <label class="btn btn-menu"-->
<!--               th:onclick="|location.href='@{/member/login}'|">Login</label>-->
<!--    </div>-->

    <header class="p-3 bg-dark text-white" style="width: 100%;">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a th:onclick="|location.href='@{/home}'|" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Statics</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Group</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">MyPage</a></li>
                    <!--                <li><a href="#" class="nav-link px-2 text-white">About</a></li>-->
                </ul>

                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2"
                            th:onclick="|location.href='@{/member/login}'|">Login</button>
                    <button type="button" class="btn btn-warning"
                            th:onclick="|location.href='@{/member/join}'|">Sign-up</button>
                </div>
            </div>
        </div>
    </header>


</div>

<!--login menubar-->
<div th:fragment="login-menubar" class="container m-auto menubar">
    <div>
        <label class="btn btn-success fw-bold" th:text="'Hello ' + ${member.username} + '!'">Username</label>

        <label class="btn btn-menu"
               th:onclick="|location.href='@{/group/index}'|">MyGroup</label>

        <label class="btn btn-menu"
               th:onclick="|location.href='@{/statistics/info}'|"
               data-toggle="modal" data-target="#login">MyPage</label>

        <form style="display: inline"
              method="post"
              th:action="@{/members/logout}">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    </div>
</div>

<!--admin login menubar-->
<div th:fragment="admin-menubar" class="container m-auto menubar">
    <div>
        <label  class="btn btn-warning"
                th:text="Admin">Admin</label>

        <label class="btn btn-menu"
               th:onclick="|location.href='@{/admin/index}'|">AdminPage</label>

        <label class="btn btn-menu"
               th:onclick="|location.href='@{/group/index}'|">MyGroup</label>

        <label class="btn btn-menu"
               th:onclick="|location.href='@{/statistics/info}'|"
               data-toggle="modal" data-target="#login">MyPage</label>

        <form style="display: inline"
              method="post"
              th:action="@{/members/logout}">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    </div>
</div>
</body>
</html>