<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Main</title>

    <th:block th:replace="fragment/config::configFragment"></th:block>
    <style>
        header > div {
            width: 100%;
        }

        .nav > li > a {
            color: white;
            font-size: 1em;
        }

        .menubar {
            transition: none;
        }
    </style>
</head>

<body th:fragment="menubar">
<!--not login menubar-->


<div class="menubar" th:fragment="not-login-menubar" style="width: 100%" th:if="${session.loginMember == null}">
    <header class="p-3 text-white" style="width: 100%; background: #212e4b">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a id="home" th:href="@{/home}" class="nav-link px-2">Home</a></li>
                    <li><a id="group" th:href="@{/group/index}" class="nav-link px-2">Group</a></li>
                    <li><a id="myPage" th:href="@{/statistics/info}" class="nav-link px-2">MyPage</a></li>
                    <li><a id="search" th:href="@{/search/all}" class="nav-link px-2">Search</a></li>
                    <li><a id="friend" th:href="@{/friend/view}" class="nav-link px-2">Friends</a></li>
                    <li><a id="food" th:href="@{/etc/food}" class="nav-link px-2">Food</a></li>
                    <!--                <li><a href="#" class="nav-link px-2 text-white">About</a></li>-->
                </ul>

                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2"
                            th:onclick="|location.href='@{/member/login}'|">Login
                    </button>
                    <button type="button" class="btn btn-warning"
                            th:onclick="|location.href='@{/member/join}'|">Sign-up
                    </button>
                </div>
            </div>
        </div>
    </header>
</div>

<!--login menubar-->
<div class="menubar" th:fragment="login-menubar" style="width: 100%" th:if="${session.loginMember != null}">
    <header class="p-3 text-white" style="width: 100%; background: #212e4b">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a id="home" th:href="@{/home}" class="nav-link px-2">Home</a></li>
                    <li><a id="group" th:href="@{/group/index}" class="nav-link px-2">Group</a></li>
                    <li><a id="myPage" th:href="@{/statistics/info}" class="nav-link px-2">MyPage</a></li>
                    <li><a id="search" th:href="@{/search/all}" class="nav-link px-2">Search</a></li>
                    <li><a id="friend" th:href="@{/friend/view}" class="nav-link px-2">Friends</a></li>
                    <li><a id="food" th:href="@{/etc/food}" class="nav-link px-2">Food</a></li>
<!--                    <li><a href="#" class="nav-link px-2 text-white">MyPage</a></li>-->
                    <!--                <li><a href="#" class="nav-link px-2 text-white">About</a></li>-->
                </ul>

                <!--        <div class="text-end">-->
                <!--            <button type="button" class="btn btn-outline-light me-2"-->
                <!--                    th:onclick="|location.href='@{/member/login}'|">MyPage</button>-->
                <!--            <button type="button" class="btn btn-warning"-->
                <!--                    th:onclick="|location.href='@{/member/join}'|">Logout</button>-->
                <!--        </div>-->

                <div class="text-end">
                    <label class="" style="margin-right: 15px" th:text="${session.currentMember.username}">Username</label>
                </div>

                <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <div style="background: white; display: inline-block" width="32" height="32" class="rounded-circle">
                            <img th:src="'https://kun-buket-test.s3.ap-northeast-2.amazonaws.com/pomondor/profile-img/thumbnail_' + ${session.currentMember.picture}" src="../../static/picture/default.png" alt="mdo" width="32" height="32" class="rounded-circle" style="object-fit: cover;">
                        </div>
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
<!--                        <li><a class="dropdown-item" th:href="@{/setting}">Settings</a></li>-->
                        <li><a class="dropdown-item" th:href="@{/member/profile/change}">Settings</a></li>
                        <li><a class="dropdown-item" th:href="@{/member/info/{memberId}(memberId = ${session.currentMember.id})}">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/member/logout}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>

<!--admin login menubar-->
<!--<div th:fragment="admin-menubar" class="container m-auto menubar">-->
<!--    <div>-->
<!--        <label class="btn btn-warning"-->
<!--               th:text="Admin">Admin</label>-->

<!--        <label class="btn btn-menu"-->
<!--               th:onclick="|location.href='@{/admin/index}'|">AdminPage</label>-->

<!--        <label class="btn btn-menu"-->
<!--               th:onclick="|location.href='@{/group/index}'|">MyGroup</label>-->

<!--        <label class="btn btn-menu"-->
<!--               th:onclick="|location.href='@{/statistics/info}'|"-->
<!--               data-toggle="modal" data-target="#login">MyPage</label>-->

<!--        <form style="display: inline"-->
<!--              method="post"-->
<!--              th:action="@{/member/logout}">-->
<!--            <button type="submit" class="btn btn-danger">Logout</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>