<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragment/config::configFragment"></th:block>
    <title>4xx ErrorPage</title>
</head>
<style>
    html,
    body {
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 10px;
        background-color: #0a58ca;
    }

</style>
<body>

    <div class="container-fluid w-25">
        <button th:onclick="|location.href='@{/home}'|" class="btn btn-danger btn-lg w-100 h4">4xx 오류</button>
    </div>

</body>
</html>