@charset "utf-8";

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #0a58ca;
}

.btn-select {
    height: 60px;
    width: 120px;
    border-radius: 45px;
    border: 1px solid rgb(183, 183, 183);
}

.circle {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    min-height: 450px;
    min-width: 450px;
    max-height: 550px;
    max-width: 550px;
    border: 1px solid rgb(183, 183, 183);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /*position: relative;*/
}

.wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 1180px;
}

#circle:hover {
    pointer-events: painted;
    background: #1f4377;
    transition: all 0.3s linear;
    /*transform: scale(1.1);*/
}

/*.buttons label {*/
/*    border-radius: 0px;*/
/*    height: 50px;*/
/*    align-content: center;*/
/*    font-size: 20px;*/
/*    font-weight: bold;*/
/*    width: 150px;*/
/*    margin: 5px;*/
/*}*/

/*.buttons label, input {*/
/*    height: 100%;*/
/*}*/

body {
    transition: all 0.3s linear;
}

.error-field {
    color: #ef3c3c;
    border-color: #ef3c3c;
}
