* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 100vw;
    transition: none;
}

.user-card {
    margin: 0;
    width: 100%;
    aspect-ratio: 5 / 2;
    /*height: 100%;*/
    background: #588a6a;
    border-radius: 15px;
    display: grid;
    align-items: center;
    border: none;
    padding: 3% 3%;
    grid-template-columns: 15% 20% 35% 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-row-gap: 10%;
    z-index: 1;
}

.profile {
    width: 65px;
    height: 65px;
    background: white;
    border-radius: 50px;
}

.profile-bundle {
    margin-bottom: auto;
    position: relative;
}

.menu {
    padding: 4%;
    font-weight: 500;
    font-size: 1.3rem;
    background: #212e4b;
    border-radius: 40px;
}

.status {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #c25a5a;
    right: 0;
    bottom: 0;
    border-radius: 12.5px;
}

.username {
    font-size: 2rem;
    font-weight: bolder;
}

.comment-content {
    grid-column: 1/span3;
    background: white;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    color: #212e4b;
    padding: 2.5%;
    text-align: left;
}

.container {
    max-width: 800px;
}

.comment-img {
    width: 2fr;
    height: 0.8fr;
    text-align: center;
}

.comment-img > img {
    aspect-ratio: 5 / 2.5;
    width: 95%;
    /*height: 40%;*/
    object-fit: cover;
    border-radius: 50px 50px 0 0;
    transform: translate(0, 10px);


    /*padding: 15px;*/
    /* object-fit: cover; 를 사용하여 이미지를 요소 크기에 맞게 확대 또는 축소합니다. */
}

.comment-img:hover > img {
    transform: translate(0, -10px);
    transition: 0.5s;
}

.comment-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main-content-card {
    text-align: center;
    background: none;
    border: none;
    border-radius: 20px;
    /*min-height: 400px;*/
    width: 100%;
    padding: 8%;
}

@media (max-width: 700px) {
    .username {
        font-size: 18px;
    }

    .user-card {
        grid-template-columns: 20% 26% 30% 1fr;
    }

    .menu {
        font-size: 1rem;
    }
}

.restaurant-name {
    font-weight: 700;
    margin-bottom: 10%;
}

.button-set {
    padding: 0 5%;
    margin-bottom: 0;
    display: flex;
    justify-content: end;
    gap: 5px;
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    filter: brightness(65%);
    z-index: 1;
    padding: 0;
    /*padding: 15px;*/
    /* object-fit: cover; 를 사용하여 이미지를 요소 크기에 맞게 확대 또는 축소합니다. */
}

.reply-container {
    /*background: #4a6da9;*/
    padding: 5%;
    border-radius: 20px;
    gap: 20px;
}

.reply-text-input {
    border-radius: 10px;
    border: 1px solid black;
    height: 100px;
    overflow: auto;
    padding: 2.5%;
}

.rate {
    display: inline-block;
    font-size: 18px;
    padding: 0;
    margin: 0;
    text-align: center;
    /*color: #ffbf00;*/
    color: #74778c;
}

.rate:hover {
    cursor: pointer;
    scale: 108%;
}

.starBundle {
    padding: 0 5%;
    display: grid;
    flex: 1;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 40px;
    justify-content: center;
    align-items: center;
}

.flex-row-container {

    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    border-radius: 5px;
    background: white;
    padding: 5%;
    gap: 5%;
}

.flex-row-container-inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5%;
    gap: 35px;
}

.flex-col-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background: white;
    padding: 5%;
    gap: 5%;
}

/*.display-flex {*/
/*    display: flex;*/
/*}*/

/*.display-none {*/
/*    */
/*}*/


.comment-input {
    flex: 1;
    height: 45px;
    display: flex;
    flex-direction: column;
    /*gap: 5%;*/
}

.comment-input > textarea {
    border-radius: 5px;
    border: 1.5px solid #b7b7b7;
    padding: 5px 15px;
    overflow: auto;
}

.comment-input-expand {
    /*height: 500px;*/
    height: 100%;
}


.align-top {
    justify-content: start;
    align-items: start;
}

.rating-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background: #f1f1f1;*/
    /*border: 1.5px solid #b7b7b7;*/
    /*justify-content: center;*/
    border-radius: 5px;
    margin: 5px 0;
    padding: 0 10px;
}

.rating-container-bundle {
    width: 100%;
    margin: 30px 0;
    border-radius: 10px;
    /*border: 1.5px solid #b7b7b7;*/
    /*padding: 0 15px;*/
    /*height: 100px;*/
    /*display: flex;*/
    flex-direction: row;
    align-items: start;
    justify-content: center;
    display: none;
}

.rating-label {
    font-size: 17px;
    font-weight: 500;
    /*width: 60px;*/
    padding: 12px;
    /*text-decoration-line: underline;*/
    text-decoration: #a8a8a8 underline 1.5px;
    /*background: #cbcbcb;*/
    /*border: 1px solid gray;*/
    color: #333333;
}

.commenter-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 15px;
}

.commenter-name {
    font-size: 22px;
    font-weight: 600;
}

.commenter-etc {
    margin-top: auto;
    color: darkgray;
    font-size: 0.9rem;
}

#comment-btn-container {
    margin-top: 15px;
    display: none;
}

#select-menu-btn {

}