<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:replace="fragment/config::configFragment"></th:block>
    <title>admin page</title>
</head>
<body style="background: #0a58ca;">

<div class="container" style="max-width: 600px; color: white">
    <div class="py-5 text-center">
        <h2>관리자 페이지</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='login-form.html'"
                    th:onclick="|location.href='@{/admin/member}'|"
                    type="button">회원 등록</button>
            <button class="btn btn-warning"
                    onclick="location.href='temp.html'"
                    th:onclick="|location.href='@{/home}'|"
                    type="button">뒤로 가기</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table text-white">
            <thead>
            <tr>
                <th th:text="Id"></th>
                <th th:text="UserName"></th>
                <th th:text="Email"></th>
                <th th:text="Password"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.username}"></td>
                <td th:text="${member.email}"></td>
                <td th:text="${member.password}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>