<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <th:block th:replace="fragment/config::configFragment"></th:block>
    <link th:href="@{/css/form-design.css}" href="../../static/css/form-design.css" rel="stylesheet">
    <title>Login</title>
</head>

<body class="text-center" style="background: #0a58ca;">
<div class="w-100 m-auto form-signin" style="max-width: 330px; padding: 15px">
    <form th:object="${loginForm}" th:action th:method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="alert alert-danger" th:each="err : ${#fields.globalErrors()}">
                <i class="bi bi-exclamation-circle"></i>
                <span th:text="${err}"></span>
            </p>
        </div>
        <h1 class="h3 mb-3 fw-normal text-white">Log In</h1>
        <div class="form-floating">
            <input id="emailInput" th:errorclass="error-field" type="email" class="form-control" placeholder="Email"
                   th:field="*{email}">
            <label for="emailInput">Input Email</label>
            <!--        <p th:errorclass="error-field" th:errors="*{email}"></p>-->
        </div>
        <div class="form-floating">
            <input id="password" th:errorclass="error-field" type="password" class="form-control" placeholder="Password"
                   th:field="*{password}">
            <label for="password">Password</label>
            <!--        <p th:errorclass="error-field" th:errors="*{password}"></p>-->
        </div>

        <button type="submit" class="btn btn-primary w-100 btn-lg mb-1">Submit</button>

        <button class="btn btn-outline-light bg-white text-black-50 w-100 btn-lg"
                th:onclick="|location.href='@{/}'|"
                type="button">Cancel
        </button>

    </form>

    <div>
        <!-- 서버 -->
        <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=798f3d347345f730f1e9e0f6a6ce6ac0&redirect_uri=http://kun.works/member/kakao-login">
            <!-- 로컬 -->
<!--        <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=798f3d347345f730f1e9e0f6a6ce6ac0&redirect_uri=http://localhost:8080/member/kakao-login">-->
            카카오 로그인
        </a>


        <a href="https://kapi.kakao.com/v1/user/logout">
            로그아웃
        </a>
    </div>
</div>
</body>
</html>
